<div class="indicadores">
    <div class="page-title">
        <div class="title">Indicadores</div>
        <div class="push-right form-inline">
            <div class="input-group">
                <input type="text" class="carga-input form-control" ng-model="data.carga">
                <span class="input-group-addon" id="basic-addon1">Horas</span>
            </div>
            <input type="text" class="form-control date-input" ng-model="date" id="input-date" readonly>
        </div>
    </div>
    
    <div class="row collectors">
        <sol-collect class="col-md-4" title="'SFT/OBox'" source="data.sft" control="control" ></sol-collect>
        <sol-collect class="col-md-4" title="'ADSL'" source="data.adsl" control="control" ></sol-collect>
        <sol-collect class="col-md-4" title="'MEO'" source="data.meo" control="control" ></sol-collect>
    </div>
    
    <div class="row collectors">
        <result-cell class="col-md-2" title="'SFT'" total="res.sft.t" val="res.sft.fot" obj="objectivos.sft"></result-cell>
        <result-cell class="col-md-2" title="'ADSL'" total="res.adsl.t" val="res.adsl.fot" obj="objectivos.adsl"></result-cell>
        <result-cell class="col-md-2" title="'MEO'" total="res.meo.t" val="res.meo.fot" obj="objectivos.meo"></result-cell>
        <result-cell class="col-md-2" title="'TxFecho'" total="res.total.t" val="res.total.fot" obj="objectivos.total"></result-cell>
        <result-cell class="col-md-2" title="'FieldForce'" total="res.total.t" val="res.total.ff" obj="objectivos.ff" small="true">
            </result-cell>
        <result-cell class="col-md-2" title="'Tratamento'" total="data.carga" val="res.total.t" obj="objectivos.carga" abs="true" >
            </result-cell>
    </div>
    
</div>