<div ng-show="alert" class="alert alert-danger" role="alert">
    <a href="/#/dashboard" class="alert-link">Necessario criar objectivos para o mês actual</a>
</div>
<div id="objController">
    <div class="header">
        <div class="group-head">
            <h1 class="title">Objectivos Diarios</h1>

            <div class="push-right form-inline">
                <div class="input-group item item-carga">
                    <input type="text" class="form-control" ng-model="data.carga" >
                    <span class="input-group-addon" id="basic-addon1">Horas</span>
                </div>
                <div class="input-group item">
                    <input type="text" class="form-control" ng-model="date" id="input-date">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="load()"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-success" ng-click="save()"><i class="fa fa-save"></i></button>
                    </span>
                </div>
                <a class="btn btn-primary" href="/#/dashboard">Objectivos Mensais </a>
            </div>
        </div>

    </div>
    <div class="header super-header row">
        <div class="colm col-sm-4">
            <div class="group-head">
                <h1 class="title">SFT</h1>
                <div class="btn-group push-right" role="group">
                    <button data-type="sft" type="button" class="rem-item btn btn-danger btn-sm"><i class="fa fa-minus" ></i></button>
                    <button data-type="sft" data-val="FF" type="button" class="add-item btn btn-success btn-sm"><i class="fa fa-plus" "></i></button>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a data-type="sft" data-val="FOT" class="add-item" href>FOT</a></li>
                            <li><a data-type="sft" data-val="BOT" class="add-item" href>BOT</a></li>
                            <li><a data-type="sft" data-val="FF" class="add-item" href>FF</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="itm" ng-repeat="e in data.sft">
                    <select ng-model="e.val">
                        <option value="FOT">FOT</option>
                        <option value="BOT">BOT</option>
                        <option value="FF">FF</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="colm col-sm-4">
            <div class="group-head">
                <h1 class="title">ADSL</h1>
                <div class="btn-group push-right" role="group">
                    <button data-type="adsl" type="button" class="rem-item btn btn-danger btn-sm"><i class="fa fa-minus" ></i></button>
                    <button data-type="adsl" data-val="FF" type="button" class="add-item btn btn-success btn-sm"><i class="fa fa-plus" "></i></button>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a data-type="adsl" data-val="FOT" class="add-item" href>FOT</a></li>
                            <li><a data-type="adsl" data-val="BOT" class="add-item" href>BOT</a></li>
                            <li><a data-type="adsl" data-val="FF" class="add-item" href>FF</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="itm" ng-repeat="e in data.adsl">
                    <select ng-model="e.val">
                        <option value="FOT">FOT</option>
                        <option value="BOT">BOT</option>
                        <option value="FF">FF</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="colm col-sm-4">
            <div class="group-head">
                <h1 class="title">Meo</h1>
                <div class="btn-group push-right" role="group">
                    <button data-type="meo" type="button" class="rem-item btn btn-danger btn-sm"><i class="fa fa-minus" ></i></button>
                    <button data-type="meo" data-val="FF" type="button" class="add-item btn btn-success btn-sm"><i class="fa fa-plus" "></i></button>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a data-type="meo" data-val="FOT" class="add-item" href>FOT</a></li>
                            <li><a data-type="meo" data-val="BOT" class="add-item" href>BOT</a></li>
                            <li><a data-type="meo" data-val="FF" class="add-item" href>FF</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="itm" ng-repeat="e in data.meo">
                    <select ng-model="e.val">
                        <option value="FOT">FOT</option>
                        <option value="BOT">BOT</option>
                        <option value="FF">FF</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    
    <div class="header mid-header row">
        
        <div class="colm col-md-2">
            <div class="group-head">
                <h1 class="title">SFT</h1>
            </div>
            
            <input class="group-content" readonly ng-value="calcFot(data.sft) + ' %'" 
            ng-class="compFot(data.sft, obj.sft) ? 'resValid' : 'resInvalid'">
            
        </div>
        <div class="colm col-md-2">
            <div class="group-head">
                <h1 class="title">ADSL</h1>
            </div>
            
            <input class="group-content" readonly ng-value="calcFot(data.adsl) + ' %'" 
            ng-class="compFot(data.adsl, obj.adsl) ? 'resValid' : 'resInvalid'">
            
        </div>
        <div class="colm col-md-2">
            <div class="group-head">
                <h1 class="title">MEO</h1>
            </div>
            
            <input class="group-content" readonly ng-value="calcFot(data.meo) + ' %'" 
            ng-class="compFot(data.meo, obj.meo) ? 'resValid' : 'resInvalid'">
            
        </div>
        <div class="colm col-md-2">
            <div class="group-head">
                <h1 class="title">TxFecho</h1>
            </div>
            
            <input class="group-content" readonly ng-value="calcFecho(data.sft, data.adsl, data.meo) + ' %'" 
            ng-class="compFecho(calcFecho(data.sft, data.adsl, data.meo), obj.total) ? 'resValid' : 'resInvalid'">
            
        </div>
        <div class="colm col-md-2">
            <div class="group-head">
                <h1 class="title">FieldForce</h1>
            </div>
            
            <input class="group-content" readonly ng-value="calcFf(data.sft, data.adsl, data.meo) + ' %'" 
            ng-class="compFf(calcFf(data.sft, data.adsl, data.meo), obj.total) ? 'resValid' : 'resInvalid'">
            
        </div>
        <div class="colm col-md-2">
            <div class="group-head">
                <h1 class="title">Tratamento</h1>
            </div>
            
            <input class="group-content" readonly ng-value="calcTratamento(data.sft, data.adsl, data.meo, data.carga) + ' H'" 
             ng-class="calcTratamento(data.sft, data.adsl, data.meo, data.carga) >= obj.carga ? 'resValid' : 'resInvalid'" >
            
        </div>
    </div>
    
    
</div>