<div class="indicadores objectivos">
    <div class="page-title">
        <div class="title">Objectivos</div>
        <div class="push-right form-inline">
            <div class="input-group">
                <select ng-model="month" ng-options="e.n for e in mList track by e.v"></select>
                <select ng-model="year">
                    <option ng-repeat="e in yList" ng-value="e" >{{e}}</option>
                </select>
            </div>
            <button class="btn btn-primary" ng-click="save()"><i class="fa fa-save"></i></button>
        </div>
    </div>

    <div class="row collectors input">
        <div class="result-cell col-md-2">
            <div class="cell-title">SFT/Office</div>
            <div class="cell-result">
                <div class="input-group cell-input">
                    <input type="text" class="form-control" ng-model="data.sft">
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>
        <div class="result-cell col-md-2">
            <div class="cell-title">ADSL</div>
            <div class="cell-result">
                <div class="input-group cell-input">
                    <input type="text" class="form-control" ng-model="data.adsl">
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>
        <div class="result-cell col-md-2">
            <div class="cell-title">MEO</div>
            <div class="cell-result">
                <div class="input-group cell-input">
                    <input type="text" class="form-control" ng-model="data.meo">
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>
        <div class="result-cell col-md-2">
            <div class="cell-title">TxFecho</div>
            <div class="cell-result">
                <div class="input-group cell-input">
                    <input type="text" class="form-control" ng-model="data.total">
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>
        <div class="result-cell col-md-2">
            <div class="cell-title">FieldForce</div>
            <div class="cell-result">
                <div class="input-group cell-input">
                    <input type="text" class="form-control" ng-model="data.ff">
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>
        <div class="result-cell col-md-2">
            <div class="cell-title">Tratamento</div>
            <div class="cell-result">
                <div class="input-group cell-input">
                    <input type="text" class="form-control" ng-model="data.carga">
                    <span class="input-group-addon">S/H</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row collectors">
        <result-cell class="col-md-2" title="'SFT'" total="res.sft.total()" val="res.sft.fot" obj="data.sft"></result-cell>
        <result-cell class="col-md-2" title="'ADSL'" total="res.adsl.total()" val="res.adsl.fot" obj="data.adsl"></result-cell>
        <result-cell class="col-md-2" title="'MEO'" total="res.meo.total()" val="res.meo.fot" obj="data.meo"></result-cell>
        <result-cell class="col-md-2" title="'TxFecho'" total="res.t" val="res.fot" obj="data.total"></result-cell>
        <result-cell class="col-md-2" title="'FieldForce'" total="res.t" val="res.ff" obj="data.ff" small="true">
            </result-cell>
        <result-cell class="col-md-2" title="'Tratamento'" total="res.h" val="res.t" obj="data.carga" abs="true" >
            </result-cell>
    </div>
    
</div>