<div class="page-header">
    <h3>Barramentos</h3>
    
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon input-checkbox" data-toggle="tooltip" 
                      data-placement="bottom" title="OPTRCL (Classe de Barramento)">
                    <label>
                        <input type="checkbox" ng-model="optrcl" > Por Classe
                    </label>
                </span>
                <input type="text" class="form-control short" ng-model="optrclValue" placeholder="Classe" >
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon input-checkbox" data-toggle="tooltip" 
                      data-placement="bottom" title="TRACL (Barramento Programável)">
                    <label>
                        <input type="checkbox" ng-model="prog" > Programável
                    </label>
                </span>
                <input type="text" class="form-control short" ng-model="progPin" placeholder="PIN" >
            </div>
        </div>
        <div class="checkbox"  data-toggle="tooltip" data-placement="bottom" title="Verificar em P&S">
            <label>
                <input type="checkbox" ng-model="reqspter"> Entrada (REQSPTER)
            </label>
        </div>
        <div class="checkbox"  data-toggle="tooltip" data-placement="bottom" title="Barramento instalação">
            <label>
                <input type="checkbox" ng-model="reqspori"> Saída (REQSPORI)
            </label>
        </div>
        <div class="checkbox"  data-toggle="tooltip" data-placement="bottom" title="Suspensão total">
            <label>
                <input type="checkbox" ng-model="accsusp"> Total (ACCSUSP)
            </label>
        </div>
        <div class="checkbox"  data-toggle="tooltip" data-placement="bottom" title="Suspensão Saída">
            <label>
                <input type="checkbox" ng-model="accspori"> Saída (ACCSPORI)
            </label>
        </div>
        <div class="checkbox"  data-toggle="tooltip" data-placement="bottom" title="Suspensão temporária">
            <label>
                <input type="checkbox" ng-model="admin"> Temporário (ADMIN)
            </label>
        </div>
        <input type="hidden" ng-value="c.setCmd(dn, tek, reqspori, reqspter, prog, progPin, optrcl, optrclValue, accsusp, accspori, admin)">
    </form>
    <form ng-show="prog && progPin && progPin.length > 2">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-btn">
                        <button class="btn btn-success" ng-click="cmd.copy('#cmd-act')"><i class="fa fa-copy"></i> Definir PIN</button>
                </span>
                <input type="text" class="form-control " ng-value="'entrkeyword:dn=' + dn + ',key=' + progPin" placeholder="" >
            </div>
        </div>
    </form>
</div>