<div class="mobs12dest cmd-pack">
    
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">LAN</div>
                <input type="text" class="form-control" ng-model="lan" placeholder="Código LAN">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">NA</div>
                <input type="text" class="form-control" ng-model="na" placeholder="Código NA">
            </div>
        </div>
        <div class="form-group" ng-show="line == 'A13'">
            <div class="input-group">
                <div class="input-group-addon">MSN 1</div>
                <input type="text" class="form-control" ng-model="msn1" placeholder="">
            </div>
            <div class="input-group">
                <div class="input-group-addon">MSN 2</div>
                <input type="text" class="form-control" ng-model="msn2" placeholder="">
            </div>
        </div>
        <div class="form-group" ng-show="line == 'A05'" >
            <div class="input-group">
                <div class="input-group-addon">Nº DDI</div>
                <input type="text" class="form-control" ng-model="nddi" placeholder="Número DDIs">
            </div>
        </div>
    </form>
    
    <div class="cmd-item" ng-show="line == 'A05'" >
        <h3>Criar DDIs</h3>
        <com-field value="crDdis(num, nddi, line)" show-portal="false" ></com-field>
    </div>
    
    <div class="cmd-item">
        <h3>Criar Número</h3>
        <com-field value="createDn(num, na, lan, line, ms1, msn2)" show-portal="false" ></com-field>
    </div>
    
</div>