<div class="sol-collect">
    <div class="sol-title">
        <h1>{{title}}</h1>
        <div class="btn-group push-right" role="group">
            <button data-type="sft" type="button" ng-click="pop()" class="btn btn-danger "><i class="fa fa-minus" ></i></button>
            <button data-type="sft" type="button" ng-click="push('FOT')" class="btn btn-default ">FOT</button>
            <button data-type="sft" type="button" ng-click="push('BOT')" class="btn btn-default ">BOT</button>
            <button data-type="sft" type="button" ng-click="push('FF')" class="btn btn-default ">FF</button>
        </div>
    </div>
    <div class="collection">
        <input class="item" ng-repeat="e in source" ng-class="e.val" ng-model="e.val" 
               ng-click="e.val = calcNextVal(e.val)" readonly>
    </div>
</div>