<div class="page-header">
    <h3>VoiceMail</h3>
    
    <form class="form-inline">
        <div class="form-group" ng-show="tek == 'S12'">
            <div class="input-group">
                <span class="input-group-addon input-checkbox" >
                    <label>
                        <input type="checkbox" ng-model="set"> Motivo
                    </label>
                </span>
                <select class="form-control" ng-model="all">
                    <option value="0">Ocupado e Não Atende</option>
                    <option value="1">Ocupado</option>
                    <option value="2">Não Atende</option>
                </select>
            </div>
        </div>
        <div class="checkbox" ng-show="tek == 'EWSD'">
            <label>
                <input type="checkbox" ng-model="busy"> Ocupado
            </label>
        </div>
        <div class="checkbox" ng-show="tek == 'EWSD'">
            <label>
                <input type="checkbox" ng-model="nr"> Não Atende
            </label>
        </div>
        <input type="hidden" ng-value="c.setCmd(set, all, busy, nr, tek)">
    </form>
</div>