<div class="page-header">
    <h3>Barramentos</h3>
    
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon input-checkbox" data-toggle="tooltip" 
                      data-placement="bottom" title="OCBP (Classe de Barramento)">
                    <label>
                        <input type="checkbox" ng-model="ocbp" > Por Class
                    </label>
                </span>
                <input type="text" class="form-control short" ng-model="ocbpValue" placeholder="Classe" >
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon input-checkbox" data-toggle="tooltip" 
                      data-placement="bottom" title="OCBUC (Barramento Programável)">
                    <label>
                        <input type="checkbox" ng-model="ocbuc" > Programável
                    </label>
                </span>
                <input type="text" class="form-control short" ng-model="ocbucPin" placeholder="PIN" >
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon input-checkbox" data-toggle="tooltip" 
                      data-placement="bottom" title="ACB (Barramento Operador)">
                    <label>
                        <input type="checkbox" ng-model="acb" > Operador
                    </label>
                </span>
                <select class="form-control" ng-model="acbValue">
                    <option value="cctr">Instalação (CCTR - Saída)</option>
                    <option value="oos">Temporário (OOS - Total)</option>
                    <option value="badppart">Suspensão (BADPPART - Saída)</option>
                    <option value="badpfull">Suspensão (BADPFULL - Total)</option>
                </select>
            </div>
        </div>
        <div class="checkbox"  data-toggle="tooltip" data-placement="bottom" title="Verificar em P&S">
            <label>
                <input type="checkbox" ng-model="icbp"> Entrada (ICBP)
            </label>
        </div>
        <input type="hidden" ng-value="c.setCmd(tek, ocbp, ocbpValue, ocbuc, ocbucPin, acb, acbValue, icbp)">
    </form>
</div>