<form id="form-cmd">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-success" ng-click="copy(get(value))"><i class="fa fa-copy"></i> Copiar</button>
                <button class="btn btn-primary" ng-show="showPortal" ng-click="copy(getShort(value))"><i class="fa fa-copy"></i></button>
            </span>
            <input type="text" class="form-control" ng-value="value">
         </div>
    </div>
</form>