<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >Novo utilizador</h4>
      </div>
      <div class="modal-body">
        <form>
        <div class="form-group">
            <input type="text" class="form-control" name="txt-user" autocomplete="false" placeholder="Utilizador" ng-model="newUser.user">
            <input type="text" class="form-control" name="txt-name" autocomplete="false" placeholder="Nome" ng-model="newUser.name">
            <select class="form-control" ng-model="newUser.func">
              <option value="fot">FOT</option>
              <option value="bot">BOT</option>
              <option value="sp">Supervisão</option>
            </select>
            <input type="password" class="form-control" autocomplete="false" name="txt-pass" placeholder="Pass" ng-model="newUser.pass">
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <a ng-click="newUser.addUser(newUser.user, newUser.func, newUser.pass, newUser.name)" href class="btn btn-primary btn-success">Criar</a>
      </div>
    </div>
  </div>
</div>