<div id="funcController">
    <div class="left-menu col-sm-2">
        <div class="title">Mobilidade</div>

        <input type="text" ng-model="dn" class="form-control" id="cmd-numero" placeholder="Número">

        <div class="cont">
            <div class="row" id="geek-select">
                <div class="col-sm-5">
                    <h3>Acesso:</h3>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" id="cmd-select-line" ng-model="line">
                        <option value="A01">Analógica</option>
                        <option value="A13">RDIS s\DDIs</option>
                        <option value="A05">RDIS c\DDIs</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="cont">
            <div class="row" id="geek-select">
                <div class="col-sm-5">
                    <h3>Origem:</h3>
                </div>
                <div class="col-sm-7">
                    <com-select com="orig" full="extended" ></com-select>
                </div>
            </div>
        </div>
        
        <div class="cont">
            <div class="row" id="geek-select">
                <div class="col-sm-5">
                    <h3>Destino:</h3>
                </div>
                <div class="col-sm-7">
                    <com-select com="dest" full="extended" ></com-select>
                </div>
            </div>
        </div>
    </div>
    <div class="func-content col-sm-10" ng-show="dn.length > -1" >
        <div class="page-header">
            <h1>Comutador Origem <small>{{orig.name + ' (' + orig.tek + ')'}}</small></h1>
        </div>
        <mob-s12-orig ng-show="orig.tek == 'S12'" line="line" num="dn" ></mob-s12-orig>
        <mob-ewsd-orig ng-show="orig.tek == 'EWSD'" line="line" num="dn" com="dest" ></mob-ewsd-orig>
        
        <div class="page-header">
            <h1>Comutador Destino <small>{{dest.name + ' (' + dest.tek + ')'}}</small></h1>
        </div>
        <mob-s12-dest ng-show="dest.tek == 'S12'" line="line" num="dn" com="dest" ></mob-s12-dest>
        <mob-ewsd-dest ng-show="dest.tek == 'EWSD'" line="line" num="dn" com="dest" ></mob-ewsd-dest>
    </div>
</div>