@import url(https://fonts.googleapis.com/css?family=Roboto:500|Open+Sans|Source+Sans+Pro|Lora);

$color-primary: #337ab7;
$color-success: #24aa06;
$color-danger: #c60f12;
$color-dark: #222;
$color-lightDark: #bcc4c2;

$font-lora: 'Lora', sans-serif;
$font-roboto: 'Source Sans Pro', 'Roboto', 'Open Sans', sans-serif;

.dark{
    background-color: $color-dark;
}

.resValid{
    background-color: fade-out($color-success, 0.3) !important;
    color: $color-dark;
}

.resInvalid{
    background-color: fade-out($color-danger, 0.3) !important;
    color: $color-dark;
}