@import url(https://fonts.googleapis.com/css?family=Roboto:500|Open+Sans|Source+Sans+Pro|Lora);

$color-primary: #0078e7;
$color-success: #24aa06;
$color-danger: #c60f12;
$color-dark: #181819;

$font-lora: 'Lora', sans-serif;
$font-roboto: 'Source Sans Pro', 'Roboto', 'Open Sans', sans-serif;

.dark{
    background-color: $color-dark;
}