@import '_imports.scss';



.login-center{
    min-width: 20%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    max-width: 50%;
    
    .login-title{
        text-align: center;
        background-color: $color-primary;
        margin: 0;
        font-size: 2em;
        color: white;
        padding: 0.2em 0.8em;
    }
    
    .login-form{
        padding: 0.5em 0.5em;
    }
}