@import '_imports';
.objectivos {
    .page-title {
        .push-right {
            select {
                font-size: 1.3em;
            }
        }
    }
    .input {
        .cell-result {
            input {
                border-bottom: 2px solid $color-success;
            }
            .input-group-addon {
                font-weight: 600;
                background-color: fade-out($color-success, 0.8);
            }
        }
    }
}