@import '_imports.scss';

#ispController{
    
    padding: 1em 4em;
    
    .table{
        
        text-align: center; 
        
        thead{
            font-weight: bold;
        }
    }
}