@import '_imports.scss';

#templateUsers{
    
    td{
        text-align: center;
    }
    
    tbody{
        overflow-y: auto;
        tr{
            td{
                input{
                    min-width: 200px;
                    border: none;
                    text-align: center;
                }
            }
        }
    }
    
}