@import '_imports.scss','_login.scss', '_navbar.scss', '_users.scss', '_orig.scss', '_com.scss', '_op.scss', '_codigos', 
    '_functions', '_horario', '_obj', '_indicadores', '_objectivos' ;

html{
    width: 100%;
    height: 100%;
    
    body{
        width: 100%;
        height: 100%;
        font-family: $font-roboto;
        
        .container-fluid{
            padding: 0;
            height: 100%;
            
            #main{
                height: 90%;
                
                #view{
                    height: 100%;
                }
                
            }
        }
        
    }
}

.checkbox{
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#divWait{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    
    i{
        position: relative;
        top:40%;
        color: white;
    }
}

.page-title{
    
    .title{
        display: inline-flex;
        font-size: 3em;
        padding-left: 1em;
    }
    
    .push-right{
        float: right;
        margin-right: 2em;
        margin-top: 1em;
    }
    
    border-bottom: 1px solid fade-out($color-dark, 0.7);
    
}