@import '_imports.scss','_login.scss', '_navbar.scss', '_users.scss', '_orig.scss', '_com.scss', '_op.scss', '_codigos';

html{
    width: 100%;
    height: 100%;
    
    body{
        width: 100%;
        font-family: $font-roboto;
    }
}