<div class="objectivosDir">

    <div class="header">
        <div class="title">Objectivos Mensais</div>

        <div class="user-select">
            <select ng-model="month">
                <option ng-repeat="opt in monthList" ng-value="opt">{{opt}}</option>
            </select>
            <select ng-model="year">
                <option ng-repeat="opt in years" ng-value="opt">{{opt}}</option>
            </select>
            
            <div class="btn-group">
                <button class="btn btn-primary btn-sm" ng-click="load()" ><i class="fa fa-2x fa-refresh"></i></button>
                <button class="btn btn-success btn-sm" ng-click="save()" ><i class="fa fa-2x fa-save"></i></button>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            <div class="group-head">
                <div class="title">SFT</div>
            </div>
            <div class="input-group item">
                <input type="text" class="form-control" ng-model="data.sft">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="group-head">
                <div class="title">ADSL</div>
            </div>
            <div class="input-group item">
                <input type="text" class="form-control" ng-model="data.adsl">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="group-head">
                <div class="title">MEO</div>
            </div>
            <div class="input-group item">
                <input type="text" class="form-control" ng-model="data.meo">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="group-head">
                <div class="title">TxFecho</div>
            </div>
            <div class="input-group item">
                <input type="text" class="form-control" ng-model="data.total">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="group-head">
                <div class="title">FieldForce</div>
            </div>
            <div class="input-group item">
                <input type="text" class="form-control" ng-model="data.ff">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="group-head">
                <div class="title">Tratamento</div>
            </div>
            <div class="input-group item">
                <input type="text" class="form-control" ng-model="data.carga">
                <span class="input-group-addon">S/H</span>
            </div>
        </div>
    </div>
    
    <!-- ####### Resultados ############ -->
    <div class="header">
        <div class="title">Resultados Mensais</div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            <div class="group-head">
                <div class="title">SFT</div>
            </div>
            <div class="input-group item">
                <input type="text" class="form-control" ng-value="res.calc(res.sft, 'fot')" readonly 
                ng-class="res.calc(res.sft, 'fot') >= data.sft ? 'resValid' : 'resInvalid'">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="group-head">
                <div class="title">ADSL</div>
            </div>
            <div class="input-group item">
                <input type="text" class="form-control" ng-value="res.calc(res.adsl, 'fot')" readonly 
                ng-class="res.calc(res.adsl, 'fot') >= data.adsl ? 'resValid' : 'resInvalid'">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="group-head">
                <div class="title">MEO</div>
            </div>
            <div class="input-group item">
                <input type="text" class="form-control" ng-value="res.calc(res.meo, 'fot')" readonly 
                ng-class="res.calc(res.meo, 'fot') >= data.meo ? 'resValid' : 'resInvalid'">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="group-head">
                <div class="title">TxFecho</div>
            </div>
            <div class="input-group item">
                <input type="text" class="form-control" ng-value="res.calc(res, 'fot')" readonly 
                ng-class="res.calc(res, 'fot') >= data.total ? 'resValid' : 'resInvalid'">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="group-head">
                <div class="title">FieldForce</div>
            </div>
            <div class="input-group item">
                <input type="text" class="form-control" ng-value="res.calc(res, 'ff')" readonly 
                ng-class="res.calc(res, 'ff') <= data.ff ? 'resValid' : 'resInvalid'">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="group-head">
                <div class="title">Tratamento</div>
            </div>
            <div class="input-group item">
                <input type="text" class="form-control" ng-value="res.t/res.h" readonly 
                ng-class="res.t/res.h >= data.carga ? 'resValid' : 'resInvalid'">
                <span class="input-group-addon">S/H</span>
            </div>
        </div>
    </div>

</div>